/* MOVEABLE TYPE EXPERIMENT EXAMPLE */



/* Base styles */

* {
  box-sizing: border-box;
}

html {
  background-color: #000000;
}

body {
  margin: 0;
  padding: 0.25em;
  font-size: 16px;
  font-family: 'Play', sans-serif;
  font-weight: normal;
  line-height: 1.3;
  color: #0000ff;
  overflow: hidden;
  background-color: #000000;
  animation-name: bg;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 6s;
}

img {
  max-width: 100%;
  height: auto;
}

.gradient {
  background-image: radial-gradient(circle, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);
  position: fixed;
  bottom: -100vh;
  left: -100vw;
  width: 200vw;
  height: 200vh;
  z-index: -1;
}

main {
  max-width: 50em;
  margin: calc(50vh - 2.5em) auto;
}




/* Letters */

.container {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  height: 4em;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.letter span {
  font-size: 3em;
  font-weight: bold;
  -webkit-text-stroke: 1px #0000ff;
  color: transparent;
  animation-name: color;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  animation-duration: 1s;
  animation-delay: 5s;
  animation-iteration-count: 1;
  mix-blend-mode: multiply;
}

.letter {
  border-left: 3px solid #0000ff;
  text-align: center;
  height: 12em;
  display: grid;
  align-items: center;
  animation-name: move-up;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
} 

.letter:nth-child(1) {
  animation-delay: 0.25s; 
}

.letter:nth-child(2) {
  animation-delay: 1s;
}

.letter:nth-child(3) {
  animation-delay: 1.75s;
}

.letter:nth-child(4) {
  animation-delay: 2.5s;
}

.letter:last-child {
  animation-delay: 3.25s;
  border-right: 3px solid #0000ff;
}




/* Animations */

@keyframes bg {
  0% {
    background-color: #000000; 
    filter: blur(0px);
  }
  50% {
    background-color: #0000ff;
    filter: blur(5px);
  }
  100% {
    background-color: #000000;  
    filter: blur(0px);
  }
}

@keyframes move-up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-4em);
  }
}

@keyframes color {
  from {
    color: transparent;
  }
  to {
    color: #0000ff;
  }
}



